body{
    background: darkslategrey;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
p{
    font-size: 30px;
}
.select{
    font-size: 20px;
    margin-left: 200px;
    background-color: lawngreen;
    border-radius: 10px;
}
.submit{
    font-size: 20px;
    background-color: lawngreen;
    border-radius: 10px;
}